@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import 'shared/home.css';
@import 'shared/about.css';
@import 'shared/skills.css';
@import 'shared/projects.css';
@import 'shared/nav.css';
@import 'shared/contact.css';

html {
    scroll-behavior: smooth;
  }

body {
    background-color: rgb(26, 25, 29);
    color: rgb(240, 235, 235);
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
    margin: 0;
}

h2 {
    font-size: 4.5rem;
}

h3 {
    font-size: 2.5rem;
}

h5 {
    font-size: 1.5rem; 
}

.no-margin {
    margin-bottom: 0;
}

@media screen and (max-width: 1300px) {
    body, html {
        font-size: 70%;
    }
}

@media screen and (max-width: 700px) {
    h2 {
        font-size: 3rem;
    }
}