.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1300px;
    margin-bottom: 200px;
}

.side-by-side-1 {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
}

.portrait {
    flex: 1;    
    position: relative;
    margin-right: 35px;
}

.portrait img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-shadow: 10px 10px 0px #f0ebeb;
    border-radius: 5px;
}

.about-me-text {
    flex: 1;    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    overflow: auto;
    min-height: 200px;
    margin-left: 35px;
}

.about-me-text p {
    font-size: 1.35rem;
    font-weight: 400;
}

.cool-text {
    color: #d6001c;
    font-weight: 800;
}

.quote {
    display: inline-block;
    width: auto;
    padding: 20px;
    margin: 20px;
    margin-right: 50px;
    border-radius: 5px;
    background-color: rgb(20, 20, 24);
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 90%;
    font-family: "Red Hat Display", sans-serif;
    font-style: italic;
    font-weight: 400;
}

@media screen and (max-width: 1300px) {
    .about {
        max-width: 700px;
        margin-bottom: 100px;
    }
    .side-by-side-1 {
        flex-direction: column;
        align-items: center;
    }
    .portrait {
        padding: 50px;
        margin-top: 10px;
        margin-bottom: 50px;
        width: 70%;
        aspect-ratio: 16 / 9;
        flex: none;
    }
    .about-me-text {
        flex: none;
        padding: 1rem;
    }
}

@media screen and (max-width: 700px) {
    .about {
        max-width: 400px;
        margin-bottom: 50px;
    }
    .portrait {
        width: 55%;
        aspect-ratio: 21 / 9;
        margin-right: 0;
    }
    .portrait img {
        box-shadow: 4px 4px 0px #f0ebeb;
    }
    .about-me-text {
        margin-left: 25px;
        margin-right: 25px;
    }
    .quote {
        margin: 0;
    }
}